
//- Mint Color Button with logo icon

 
mixin button1(text, href, className )
  a(href=href target=attributes.target data-trackclick=(attributes.dataTrackClick ? attributes.dataTrackClick : false))
    .button1(class=className)
      =text


//- Share Button

mixin button2( text, className )
  .button2(class=className target=attributes.target data-trackclick=(attributes.dataTrackClick ? attributes.dataTrackClick : false))
    =text