
//- Mint Color Button with logo icon

mixin button1(text, href, className )
  a(href=href target=attributes.target data-trackclick=(attributes.dataTrackClick ? attributes.dataTrackClick : false))
    .button1(class=className)
      .button__icon.icon.icon-logo
      =text
//- Mint Color Button

mixin button1-ver2(text, href, className )
  a(href=href target=attributes.target data-trackclick=(attributes.dataTrackClick ? attributes.dataTrackClick : false))
    .button1.button1--ver2(class=className)
      =text 

//- Blue Color Button with logo icon

mixin button2(text, href, className )
  a(href=href target=attributes.target data-trackclick=(attributes.dataTrackClick ? attributes.dataTrackClick : false))
    .button2(class=className)
      .button__icon.icon.icon-logo
      =text 

//- Blue Color Button

mixin button2-ver2( text, href, className )
  a(href=href target=attributes.target data-trackclick=(attributes.dataTrackClick ? attributes.dataTrackClick : false))
    .button2.button2--ver2(class=className)
      =text


//- Share Button

mixin button3( text, className )
  .button3(class=className target=attributes.target data-trackclick=(attributes.dataTrackClick ? attributes.dataTrackClick : false))
    .button__icon.icon.icon-share
    =text
